RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^login$ ./login.php [L]
RewriteRule ^login$ ./index.php [L]
RewriteRule ^lockscreen$ ./lockscreen.php [L]
RewriteRule ^logout$ ./login.php?act=logout [L]
RewriteRule ^Home$ ./index1.php?p=Home [L]
RewriteRule ^Blank$ ./index1.php?p=Blank [L]
RewriteRule ^InputData$ ./index1.php?p=Input-Data [L]
RewriteRule ^InputData3$ ./index1.php?p=Input-Data3 [L]
RewriteRule ^InputDataERP$ ./index1.php?p=Input-Data-ERP [L]
RewriteRule ^InputDataKR$ ./index1.php?p=Input-Data-KR [L]
RewriteRule ^InputDataKRERP$ ./index1.php?p=Input-Data-KR-ERP [L]
RewriteRule ^InputDataDYE$ ./index1.php?p=Input-Data-DYE [L]
RewriteRule ^InputDataDYEERP$ ./index1.php?p=Input-Data-DYE-ERP [L]
RewriteRule ^InputDataKR3$ ./index1.php?p=Input-Data-KR3 [L]
RewriteRule ^InputDataDYE3$ ./index1.php?p=Input-Data-DYE3 [L]
RewriteRule ^KainIn$ ./index1.php?p=Kain-Masuk [L]
RewriteRule ^Testing$ ./index1.php?p=Testing [L]
RewriteRule ^InputDataKJ$ ./index1.php?p=Input-Data-KJ [L]
RewriteRule ^RekapData$ ./index1.php?p=Rekap-Data [L]
RewriteRule ^RekapEmail$ ./index1.php?p=Rekap-Email [L]
RewriteRule ^RekapBon$ ./index1.php?p=Rekap-Bon [L]
RewriteRule ^InputData3-$ ./index1.php?p=Input-Data3 [L]
RewriteRule ^InputData-$ ./index1.php?p=Input-Data [L]
RewriteRule ^InputDataKR-$ ./index1.php?p=Input-Data-KR [L]
RewriteRule ^InputDataERP-$ ./index1.php?p=Input-Data-ERP [L]
RewriteRule ^InputDataDYEERP-$ ./index1.php?p=Input-Data-DYE-ERP [L]
RewriteRule ^InputDataKRERP-$ ./index1.php?p=Input-Data-KR-ERP [L]
RewriteRule ^InputDataBr-$ ./index1.php?p=Input-Data-Br [L]
RewriteRule ^KainIn-$ ./index1.php?p=Kain-Masuk [L]
RewriteRule ^Testing-$ ./index1.php?p=Testing [L]
RewriteRule ^DetailData-$ ./index1.php?p=Detail-Data [L]
RewriteRule ^DetailDataBr-$ ./index1.php?p=Detail-Data-Br [L]
RewriteRule ^InputDataKJ-$ ./index1.php?p=Input-Data-KJ [L]
RewriteRule ^InputDataDYE-$ ./index1.php?p=Input-Data-DYE [L]
RewriteRule ^DetailDataKJ-$ ./index1.php?p=Detail-Data-KJ [L]
RewriteRule ^InputData-([a-zA-Z0-9_-]+)$ ./index1.php?p=Input-Data&nokk=$1 [L]
RewriteRule ^InputDataERP-([a-zA-Z0-9_-]+)$ ./index1.php?p=Input-Data-ERP&nodemand=$1 [L]
RewriteRule ^InputData3-([a-zA-Z0-9_-]+)$ ./index1.php?p=Input-Data3&nodemand=$1 [L]
RewriteRule ^InputDataKR-([a-zA-Z0-9_-]+)$ ./index1.php?p=Input-Data-KR&nokk=$1 [L]
RewriteRule ^InputDataKRERP-([a-zA-Z0-9_-]+)$ ./index1.php?p=Input-Data-KR-ERP&nodemand=$1 [L]
RewriteRule ^InputDataDYE-([a-zA-Z0-9_-]+)$ ./index1.php?p=Input-Data-DYE&nokk=$1 [L]
RewriteRule ^InputDataDYEERP-([a-zA-Z0-9_-]+)$ ./index1.php?p=Input-Data-DYE-ERP&nodemand=$1 [L]
RewriteRule ^InputDataKR3-([a-zA-Z0-9_-]+)$ ./index1.php?p=Input-Data-KR3&nodemand=$1 [L]
RewriteRule ^InputDataDYE3-([a-zA-Z0-9_-]+)$ ./index1.php?p=Input-Data-DYE3&nodemand=$1 [L]
RewriteRule ^KainIn-([a-zA-Z0-9_-]+)$ ./index1.php?p=Kain-Masuk&nodemand=$1 [L]
RewriteRule ^Testing-([a-zA-Z0-9_-]+)$ ./index1.php?p=Testing&nodemand=$1 [L]
RewriteRule ^DetailData-([a-zA-Z0-9_-]+)$ ./index1.php?p=Detail-Data&id=$1 [L]
RewriteRule ^InputDataKJ-([a-zA-Z0-9_-]+)$ ./index1.php?p=Input-Data-KJ&nodemand=$1 [L]
RewriteRule ^DetailDataKJ-([a-zA-Z0-9_-]+)$ ./index1.php?p=Detail-Data-KJ&id=$1 [L]
RewriteRule ^EditData$ ./index1.php?p=Edit_Data [L]
RewriteRule ^EditInputBr$ ./index1.php?p=Edit_InputBr [L]
RewriteRule ^HapusData-([a-zA-Z0-9_-]+)$ ./index1.php?p=HapusData&id=$1 [L]
RewriteRule ^HapusDataBr-([a-zA-Z0-9_-]+)$ ./index1.php?p=HapusDataBr&id=$1 [L]
RewriteRule ^HapusDataM-([a-zA-Z0-9_-]+)$ ./index1.php?p=HapusDataMasalah&id=$1 [L]
RewriteRule ^HapusDataD-([a-zA-Z0-9_-]+)$ ./index1.php?p=HapusDataDept&id=$1 [L]
RewriteRule ^HapusDetailM-([a-zA-Z0-9_-]+)$ ./index1.php?p=HapusDetailMasalah&id=$1 [L]


Options All -Indexes
